*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
  width: 34px;
  height: 34px;
}
#logo_text{
font-size: 25px;
font-weight: 600;
color: white;
text-decoration: none;
margin-left: 20px;
margin-top: 10px;
display: inline;

}
.nav-links{
    margin: 1rem;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block ;
    padding: 8px 12px;
    position: relative;
}

.button{
    border-radius: 25px;
    background-color:#2293d4e1;
    border: none;
    color:whitesmoke;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 2px;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #2293d4e1;
        background: #75b5dae1;
        transition: 1s;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
    margin: 2px;
    }
    .nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background-color: #1da4b6;
   display: block;
   margin: auto;
   transition: 0.5s;
        }
    .nav-links ul li:hover::after {
        width: 100%;
        }
    .text-box{
        width: 90% ;
        color: #fff;
        position: absolute;
        top: 55%;
        left:50% ;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .sub-header2{
        height: 50vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
	.sub-header h1{
		top:50px;
	}
    .contact-content{
		margin-top: 5rem;
}
.contact-wrap {
	width: 90%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
#contact-us{
	font-weight: 600;
	margin-top: 84px; 
	font-size:2rem
}
.contact-in {
	
	padding: 40px 30px;
	margin:0px 10px 50px 30px;
}

.contact-in:nth-child(1) {
	flex: 10%;
	color: #fff;
}

.contact-in:nth-child(2) {
	
	position: center;
	flex: 35%;
	background: rgb(67, 148, 168);
    
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
	border: 1px solid black;
}

.contact-in h1 {
	
	text-align: center;
		font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h3 {
	color: ivory;
	position:inherit;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	color: rgb(233, 235, 209);
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}


@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}



/*----------------------------------------------footer------------------------------------------------------*/
.site-footer
{
  background-color:rgb(2,12,27);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.7;
  width: 90%;
  margin-left: 2px;
}
.container-footer{
  width:fit-content;
    margin-left: 60px;
    display: flex;
    display: inline-block;
    
}
.container-footer1{
    padding: 10px;
    display: flex;
    display: inline-block;
    margin-left: 50px;
    width: 90%;
}
.site-footer hr.small
{
  margin-right: 20px;

}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  
}
.text-justify{
    color: rgb(121, 179, 197);
    font-size: 15px;
}

.site-footer a
{
  color:#1277de;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#1277de;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#03b7cf;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  
